*{
    margin:0;
    padding:0;
    font-family: 'Roboto Slab', serif;
}
.one{
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:50px;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    
}
.con{
  width: 100%;
    max-width:400px;
    border:solid 1px rgba(255, 255, 255, 0.077);
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    gap: 15px;

}
.head h1{
    color:rgba(0, 0, 0, 0.784);
    border-bottom: solid 3px #750E21;
}

.display{
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    background-color: #0000002d;
    border: solid 2px rgba(255, 255, 255, 0.395);
    border-radius: 4px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 3px 10px;
    position: relative;
}
.slide_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
  }
  .range h3{
    color: rgba(0, 0, 0, 0.74);
  }
  
  .slider {
    -webkit-appearance: none; 
    appearance: none;
    width: 100%; 
    height: 10px; 
    background: #000000;
    border-radius: 4px;
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1; 
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 10px; 
    height: 25px;
    border-radius: 4px;
    background: #04AA6D; 
    cursor: pointer; 
  }
  
  .slider::-moz-range-thumb {
    width: 25px; 
    height: 25px;
    background: #04AA6D; 
    cursor: pointer; 
  }
  .checks{
    font-size: 17px;
  }
  .check{
    display: flex;
    color: rgb(0, 0, 0);
    justify-content: space-between;
  }
  .gen{
    display: flex;
    margin-top: 10px;
  }
  .gen button{
    color: black;
    background-color: rgb(241, 155, 124);
    border-radius: 4px;
    flex:1;
    height: 28px;
  }
  .gen button:hover{
    border-radius: 4px;
    cursor: pointer;
  }
@media(max-width:500px){
  .display h2{
    font-size: 17px;
  }
  .head h1{
    font-size: 20px;
  }
  .range h3{
    font-size: 15px;
  }
}